<form action="spellcard/color" method="post">
 <div class="form-group mt-3">
    <label for="Name" class="text-primary">color</label>
    <input class="form-control" type="text" name="color" required minlength="3" maxlength="30">
  </div>
  
    <input class="btn btn-primary" type="submit" value="Add">
  
  </form>